.form-control:focus {box-shadow: none;}

.modal-wrapper {width: 100%; height: 100vh; top: 0; left: 0; background-color: rgba(0,0,0,0.7); position: fixed; display: flex; justify-content: center; align-items: center; z-index: 9999; }

.header-wrapper {padding: 1em; background-color: #1a1a1a; color: #f9f9f9; display: flex; align-items: center; justify-content: space-between;}
.header-wrapper .title-wrap {font-size: 1.5em;}
.header-wrapper .sign-wrap {display: flex; align-items: center;}
.header-wrapper .sign-wrap .icon {width: 36px; height: 36px; margin-right: 1em; border-radius: 50%; overflow: hidden;}
.header-wrapper .sign-wrap .email {margin-right: 1em;}
#btLogout::after {content: 'Logout'; display: inline-block;}

.content-wrapper {width: 100%; height: calc(100vh - 70px); position: relative; display: flex;}
.content-wrapper > div {flex: 0 0 50%; padding: 1em; height: 100%;}
.content-wrapper .list-wrapper {background-image: linear-gradient(to right, #c6e987, #309138); display: flex; flex-direction: column; z-index: 99; transition: all 0.5s;}
.content-wrapper .list-wrapper .bt-close {background-color: darkred; color: #f9f9f9; width: 40px; height: 40px; text-align: center; line-height: 40px; position: absolute; top: 1.75em; right: -40px; display: none; cursor: pointer; }

.list-wrapper {transform: translateX(0);}
.list-wrapper.active {transform: translateX(0);}

.list-wrapper .bt-close::after {content: '〉'; display: inline-block;} 
.list-wrapper .bt-close.active::after {content: '〈'; display: inline-block;} 
.list-wrapper .add-wrap {flex: 0 0; padding: 0.5em 0; background-color: rgba(255,255,255,0.4); margin: 0.25em; border-radius: 4px; display: flex; align-items: center; height: 58px;}
.list-wrapper .add-wrap > button {background-color: transparent; border: none;}
.list-wrapper .add-wrap > button:focus {outline: none;}
.list-wrapper .add-wrap .fa-plus {margin-left: 0.5em; color: #f9f9f9; font-size: 1.75em;}
.list-wrapper .add-wrap > .form-control {background-color: transparent; border: none; outline: none; flex-grow: 1; font-size: 1.25em;}
.list-wrapper .add-wrap > .form-control:focus {box-shadow: none;}
.list-wrapper .list-wrap {flex: 1 1 100%; margin-top: 1em; overflow: auto;}
.list-wrapper .list-wrap > li {padding: 1.25em; background-color: rgba(0,0,0,0.6); margin: 0.25em; color: #f9f9f9; font-size: 1.25em; border-radius: 4px; transition: all 0.75s; opacity: 0; position: relative; overflow: hidden; display: flex; align-items: center;}
.list-wrapper .list-wrap > li.active {background-color: rgba(4, 53, 22, 0.6);}
.list-wrapper .list-wrap > li > input {flex: 1 1 100%; background-color: transparent; border: none; color: #f9f9f9;}
.list-wrapper .list-wrap > li.opacity {color: rgba(255,255,255,0.3)}
.list-wrapper .list-wrap > li .date {position: absolute; color: rgba(255,255,255, 0.3); right: 6px; bottom: 6px; font-size: 0.625em;}
.list-wrapper .list-wrap > li > i {display: none;}
.list-wrapper .list-wrap > li > i.active {display: inline-block;}
.list-wrapper .list-wrap > li > .bt-delete {position: absolute; top: 8px; right: 8px; display: none;}
.list-wrapper .list-wrap > li:hover > .bt-delete {display: block;}

.content-wrapper > .edit-wrapper {padding: 1.5em 2em;}
.edit-wrapper input {margin-bottom: 1em; border-color:yellowgreen;}
.edit-wrapper textarea {margin-bottom: 1em; height: 50vh; border-color:yellowgreen;}
.edit-wrapper .file-wrap {padding: 0.5em 0; width: auto; position: relative; display: flex; align-items: flex-start; display: none;}
.edit-wrapper .file-wrap .image {width: 60px; cursor: pointer;}
.edit-wrapper .file-wrap .pds {margin-right: 0.5em;}
.edit-wrapper .file-wrap .bt-delete {padding: 0.175em 0.25em; background-color: red; color: #f9f9f9; font-size: 0.875em; cursor: pointer;}
.edit-wrapper input[name="task"] {font-size: 1.25em;}

.img-wrapper.modal-wrapper {display: none;}

.bt-done {margin: 0.5em 0.25em 0 0; display: inline-block;}
.bt-done:link,
.bt-done:visited,
.bt-done:active,
.bt-done:hover {color: #f9f9f9; text-decoration: none;}
.bt-done::after {content: '감추기'; display: inline-block;}
.bt-done.active::after {content: '보이기'; display: inline-block;}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.sign-wrap .email {display: none;}
	#btLogout::after {content: '';}

	.content-wrapper .list-wrapper {position: absolute; width: 80%; box-shadow: 4px 0 6px rgba(0,0,0,0.4);}
	.content-wrapper .list-wrapper .bt-close {display: block;}

	.content-wrapper .edit-wrapper {flex: 0 0 100%; padding-left: 15%;}

	.list-wrapper.active {transform: translateX(-98%);}
}

@media screen and (max-width: 575px) {

}