.modal-wrapper {width: 100%; height: 100vh; top: 0; left: 0; background-color: rgba(0,0,0,0.7); position: fixed; display: flex; justify-content: center; align-items: center; z-index: 9999; }

.header-wrapper {padding: 1em; background-color: #1a1a1a; color: #f9f9f9; display: flex; align-items: center; justify-content: space-between;}
.header-wrapper .title-wrap {font-size: 1.5em;}
.header-wrapper .sign-wrap {display: flex; align-items: center;}
.header-wrapper .sign-wrap .icon {width: 36px; height: 36px; margin-right: 1em; border-radius: 50%; overflow: hidden;}
.header-wrapper .sign-wrap .email {margin-right: 1em;}
#btLogout::after {content: 'Logout'; display: inline-block;}

.content-wrapper {width: 100%; height: calc(100vh - 70px); position: relative; display: flex;}
.content-wrapper > div {flex: 0 0 50%; padding: 1em; height: 100%;}
.content-wrapper .list-wrapper {background-image: linear-gradient(to right, #c6e987, #309138);}
.list-wrapper .add-wrap {padding: 0.5em 0; background-color: rgba(255,255,255,0.4); margin: 0.25em; border-radius: 4px; display: flex; align-items: center;}
.list-wrapper .add-wrap > .fa-plus {margin-left: 0.5em; color: #f9f9f9; font-size: 1.75em;}
.list-wrapper .add-wrap > .form-control {background-color: transparent; border: none; outline: none; flex-grow: 1; font-size: 1.25em;}
.list-wrapper .add-wrap > .form-control:focus {box-shadow: none;}
.list-wrapper .list-wrap {margin-top: 1em;}
.list-wrapper .list-wrap > li {padding: 1em; background-color: rgba(0,0,0,0.6); margin: 0.25em; color: #f9f9f9; font-size: 1.25em; border-radius: 4px;}
.list-wrapper .list-wrap > li > i {display: none;}
.list-wrapper .list-wrap > li > i.active {display: inline-block;}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.sign-wrap .email {display: none;}
	#btLogout::after {content: '';}

	.content-wrapper .list-wrapper {position: absolute; width: 80%; box-shadow: 4px 0 6px rgba(0,0,0,0.4);}
	.content-wrapper .edit-wrapper {flex: 0 0 100%;}
}

@media screen and (max-width: 575px) {

}