.modal-wrapper {width: 100%; height: 100vh; top: 0; left: 0; background-color: rgba(0,0,0,0.7); position: fixed; display: flex; justify-content: center; align-items: center; z-index: 9999; }

.header-wrapper {padding: 1em; background-color: #1a1a1a; color: #f9f9f9; display: flex; align-items: center; justify-content: space-between;}
.header-wrapper .title-wrap {font-size: 1.5em;}
.header-wrapper .sign-wrap {display: flex; align-items: center;}
.header-wrapper .sign-wrap .icon {width: 36px; height: 36px; margin-right: 1em; border-radius: 50%; overflow: hidden;}
.header-wrapper .sign-wrap .email {margin-right: 1em;}